.editor
  height 100vh

.editor .CodeMirror-scroll
  min-height 80vh

.editor .CodeMirror
  height auto
  width 800px
  padding 30px 0 0 0
  box-sizing border-box

  @media (max-width: 1200px)
    width 100%
    padding 50px 0 0 0