.publish
  position fixed
  right 30%
  margin-right -100px
  top 40px
  background #fff
  border-radius 16px
  border-color #ddd
  color #333
  padding 4px 20px
  outline none
  cursor pointer
  appearance none

  &.disabled
    color #ddd
    cursor disabled