.publish
  position fixed
  right 100px
  // margin-right -100px
  top 40px
  background #fff
  border-radius 16px
  color #333
  padding 4px 20px
  outline none
  cursor pointer
  appearance none
  border 1px solid #ddd

  &.disabled
    color #ddd
    cursor disabled

  @media (max-width: 1200px)
    top 10px
    right 10px
    margin-right 0
